.track-playlist:hover
	text-decoration: line-through
	color: red

#vk_form_search
	margin:0px 10px 0px 10px

.searchlist-wrap
	background-color:#ffd
	padding:10px 10px 10px 10px

.playlist-wrap
	background-color:#dfd
	padding:10px 10px 10px 10px