.track-playlist:hover {
  text-decoration: line-through;
  color: #f00;
}
#vk_form_search {
  margin: 0px 10px 0px 10px;
}
.searchlist-wrap {
  padding: 0px 10px 10px 10px;
  float: left;
}
.playlist-wrap {
  padding: 0px 10px 10px 10px;
  float: left;
}

.control {
    margin-bottom:10px;
}

.track-playing {
    margin-left: 10px;
}
